$background: #0f7595;
$foreground: #ffffff;

$fontfamily: Neighbourhood, sans-serif;
$fontsize: 4vmin;
//$lineheight: 1.5 !default;
$headingLineheight: 1 !default;
//
//$hpadding: 10vw !default;
//$vpadding: 10vh !default;
//$maxcontentwidth: 64em !default;
//$verticalRhythm: 1em !default;

$ndf: #ffe600;
$secondary: #d34;
$tertiary: #012340;
$info: #4d404d;
$info: #2b242b;
$mint: #84ecff;
$dark: #2b242b;
$highlight: $ndf;
$white: #fff;
