$background: #0f7595;
$foreground: #ffffff;
//$highlight: #FBB03B !default;

$fontfamily: Neighbourhood, sans-serif;
//$fontsize: 3vmin !default;
//$lineheight: 1.5 !default;
//$headingLineheight: 1 !default;
//
//$hpadding: 10vw !default;
//$vpadding: 10vh !default;
//$maxcontentwidth: 64em !default;
//$verticalRhythm: 1em !default;

$dark: #2b242b;

$petrol: #0f7595;
$darkred: #d34;
$iwcred: #ED1C24;
$iwcorange: #FBB03B;
$yellow: #ffff00;
$blue: #00f;
$mint: #c9ffcc;
$violet: #f24056;
$darkgrey: #4d404d;
$lightblue: #84ecff;
$screenshot: #012340;


$foreground: #fff !default;
$background: #2b242b !default;



