.separate {
	margin-top: 2em !important;
}

iframe {
	width: 100%;
	height: 100%;
}

strong, abbr {
	font-weight: normal;
	color: $iwcorange;
}

abbr::after {
	color: $petrol;
	content: " (" attr(title) ")";
}

#webaim {
	div {
		text-align: center;
		float: right;
		background-color: #fff;
		width: 33vw;
		padding: 1em;
		font-size: 50%;
		margin-left: 2em;

		* {
			display: block;
		}
	}
	img {
		width: 100%;
		margin-bottom: 1em;
	}
}

.full-width {
	width: 100% !important;
}

video {
	width: 100%;
	max-width: 100%;
}

twitterwidget {
	margin-left: auto;
	margin-right: auto;
	transform: scale(2) rotate(0deg) !important;
}

.dark {
    background-color: $background;
    color: $foreground;
}

.darkgrey {
    background-color: $darkgrey !important;
    color: $foreground !important;
}

.light {
    background-color: #e3e0e3;
    color: $background;
}

.petrol {
    background-color: $petrol !important;
}

.violet {
    background-color: $violet !important;
}

.screenshot {
    background-color: $screenshot !important;
}

.white {
    background-color: $foreground !important;
}

.mint {
    background-color: $mint !important;
}

.lightblue {
    background-color: $lightblue !important;
}

.white, .mint, .lightblue {
    *, a {
        color: $background !important;
    }

    h2::after {
        background-color: $background;
    }
}

.orange {
    background-color: $iwcorange !important;
}
